{% if doc.items_without_hs_code %}
<h3>The following item(s) do not have HS Code set:</h3>
<ol>
	{% for row in doc.items_without_hs_code %}
	<li><a href="#Form/Item/{{ row.item_code }}" target="_blank">{{ row.item_code }}: {{ row.item_name }}</a></li>
	{% endfor %}
</ol>

Please set HS Codes and reload this print format.
{% else %}
<div class="page-break">
	<div id="header-html" class="hidden-pdf">
		<div class="letter-head">
			<div class="clearfix">
				<div class="pull-left" style="width: 40%;">
					<h4 class="MarBorPadZero">CONFIRMATION OF SALE<br>CONFIRMATION DE VENTE</h4>
				</div>
				<div class="pull-left" style="width: 40%;">
					{{ doc.b3_transaction_no_barcode or '' }}
					<div style="font-size: 8pt; margin-top:-5px;">{{ doc.b3_transaction_no_formatted or '' }}</div>
				</div>
				<h5 class="pull-right page-number visible-pdf text-right" style="width: 20%;">
					{{ _("Page {0} of {1}").format('<span class="page"></span>', '<span class="topage"></span>') }}
				</h5>
			</div>
		</div>
	</div>

	<!-- Top part: 1-10 -->
	<table style="width: 100%;">
		<!-- #ROW 1 -2 -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">1. Vendor (Name and Address) / Vendeur (nom et adresse)</p>
				<p class="form1data">{{doc.get_formatted('supplier')}}</p>
				<p class="form1data">{{doc.get_formatted('address_display')}}</p>
			</td>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">2. Purchaser (Name and Address) / Acheteur (nom et adresse)</p>
				<p class="form1data">{{ doc.get_formatted('company')}}</p>
				<p class="form1data">{{ doc.company_address_display }}</p>
			</td>
		</tr>
		<!-- #ROW 3 - 4 -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">3. Exporter (Name and Address) / Exportateur (nom et adresse)</p>
				<p class="form1data" style="text-align: center;">- Same as above-</p>
			</td>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">4. Consignee (name and address) / Destinataire (nom et adresse)</p>
				<p class="form1data" style="text-align: center;">- Same as above-</p>
			</td>
		</tr>
		<!-- #ROW 5a - 5b -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">5a.Carrier (Name and Address) / Transporteur (nom et adresse)</p>
				<p class="form1data">{{ doc.get_formatted('order_type')}}</p>
			</td>
			<td colspan="6" style="width:50%;">
				<p class="form1label">5b.Place of Direct Shipment to Canada / Point d'expédition directe vers le Canada
				</p>
				<p class="form1data">{{ frappe.db.get_value('Supplier', doc.supplier, 'country')}}</p>
			</td>
		</tr>

		<!-- #ROW 5c - 6a - 6b -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<table style="border: 0; width: 100%;">
					<tr>
						<td style="border: 0;">
							<table style="border: 0; width: 100%;">
								<tr>
									<td style="border: 0; width: 40%;">
										<p class="form1label">5c.Conveyance Identification No. / Nº d'immatriculation du
											véhicule</p>
									</td>
									<td style="border: 0; width: 1%; vertical-align:middle !important;">
										<i class="fa fa-caret-right" style="font-size:30px"></i>
									</td>
									<td style="border: 0; width: 20%; vertical-align: middle !important;">
										<p class="form1data">{{ doc.get_formatted('carrier_code')}}</p>
									</td>
									<td style="border: 0; width: 40%; vertical-align: middle !important;">
										<p class="form1data">{{ doc.get_formatted('airway_bill_no')}}</p>
									</td>
								</tr>
							</table>
						</td>
					</tr>
				</table>
			</td>
			<!-- <td colspan="3" style="width: 25;"> <p>014 5452-7653</p> </td> -->
			<td colspan="3" style="width: 25%;">
				<p class="form1label">6a.Date of Direct Shipment to Canada Date d'expédition directe vers le Canada</p>
				<p class="form1data">{{ frappe.format_date(doc.shipping_date, 'MM-dd-YYYY') }}</p>
			</td>
			<td colspan="3" style="width: 25%;">
				<p class="form1label">6b. Date Purchased / Date de l'achat</p>
				<p class="form1data">{{ frappe.format_date(doc.shipping_date, 'MM-dd-YYYY') }}</p>
			</td>
		</tr>

		<!-- #ROW 5d - 7 -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">5d.Transportation: Give mode (Type, routing and travel temperature)
					<br>Transport: Préciser le mode (type, l'itinéraire et la température)</p>
				<p class="form1data">{% set doc1 = frappe.get_doc('Master Purchase Order Type', doc.order_type) %}
					{{ doc1.transportation_mode }}</p>
			</td>
			<td colspan="6" style="width: 50%;">
				<table style="border: 0; width: 100%;">
					<tr>
						<td style="border: 0; width: 40%;">
							<p class="form1label">7. Country of Transhipment <br> Pays de transbordement
							</p>
						</td>
						<td style="border: 0; width: 1%; vertical-align:middle !important;">
							<i class="fa fa-caret-right" style="font-size:30px"></i>
						</td>
						<td style="border: 0; width: 50%; vertical-align: middle !important;">
							<p class="form1data">{{doc.get_formatted('country_of_transhipment')}}</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>

		<!-- #ROW 8 - 9 - 10 -->
		<tr>
			<td colspan="6" style="width: 50%;">
				<p class="form1label">8. Check how sold / Cocher le type de vente</p>
				<table style="width:100%" class="MarBorPadZero">
					<tr>
						<td style="width: 1%;" class="MarBorPadZero">
							<p><input type="checkbox" id="8a" name="8a" checked></p>
						</td>
						<td style="width: 19%;" class="MarBorPadZero">
							<p class="form1label">telephone</p>
							<p class="form1label">téléphone</p>
						</td>
						<td style="width: 1%;" class="MarBorPadZero">
							<p class="form1label"><input type="checkbox" id="8b" name="8b"></p>
						</td>
						<td style="width: 19%;" class="MarBorPadZero">
							<p class="form1label">letter</p>
							<p class="form1label">lettre</p>
						</td>
						<td style="width: 1%;" class="MarBorPadZero">
							<p class="form1label"><input type="checkbox" id="8c" name="8c"></p>
						</td>
						<td style="width: 19%;" class="MarBorPadZero">
							<p class="form1label">other</p>
							<p class="form1label">autre</p>
						</td>
						<td style="width: 1%;" class="MarBorPadZero">
							<p class="form1label"><input type="checkbox" id="8d" name="8d"></p>
						</td>
						<td style="width: 19%;" class="MarBorPadZero">
							<p class="form1label">in person</p>
							<p class="form1label">en personne</p>
						</td>
						<td style="width: 1%;" class="MarBorPadZero">
							<p class="form1label"><input type="checkbox" id="8e" name="8e"></p>
						</td>
						<td style="width: 19%;" class="MarBorPadZero">
							<p class="form1label">other</p>
							<p class="form1label">autre</p>
						</td>
					</tr>
				</table>
			</td>
			<td colspan="3" style="width: 25%;">
				<p class="form1label">9. Sale mode / Modalité de vente</p>
				<table style="border:0; width: 100%; padding: 0 !important; margin: 0 !important;">
					<tr>
						<td class="MarBorPadZero">
							<p class="form1label"><input type="checkbox" id="9a" name="9a" checked></p>
						</td>
						<td class="MarBorPadZero">
							<p class="form1label">FOB</p>
							<p class="form1label">FAB</p>
						</td>
						<td class="MarBorPadZero">
							<p><input type="checkbox" id="9b" name="9b"></p>
						</td>
						<td class="MarBorPadZero">
							<p class="form1label">delivered</p>
							<p class="form1label">à la livraison</p>
						</td>
					</tr>
				</table>
			</td>
			<td colspan="3" style="width: 25%;">
				<p class="form1label">10. Currency of Settlement <br> Devises du paiement</p>
				<p class="form1data">{{ doc.currency }}</p>
			</td>

	</table>

	<!-- Items part: 11-17 -->
	<table>
		<!-- Items header -->

		<tr>
			<td rowspan="2" style="width: 10%;">
				<p class="form1label">11. <br> Harmonized System Tariff Item <br> <br> Nº tarifaire du système
					harmonisé </p>
			</td>
			<td rowspan="2" style="width: 15%; border-right: 0;">
				<p class="form1label">12. <br>
					Specification of
					Commodities
					(general description
					and characteristics,
					i.e., grade, quality,
					kind of packages,
					marks and numbers)
				</p>
			</td>
			<td rowspan="2" style="width: 15%; border-left: 0;">
				<p class="form1label">Désignation des
					produits (description
					générale et
					caractéristiques,
					p. ex. catégorie,
					qualité nature
					des colis,
					marques et numéros)
				</p>
			</td>
			<td rowspan="2" style="width: 10%;">
				<p class="form1label">13. <br>
					Country of
					Origin
					by commodity.
					If U.S. declare
					state. <br> <br>
					Pays d'origine
					par produit. Si
					É-U, indiquer
					l'état
				</p>
			</td>
			<td rowspan="2" style="width: 10%;" colspan="2">
				<p class="form1label">14. <br>
					Net Weight
					(state unit per
					pkg. by
					commodity in
					kg or pounds) <br> <br>
					Poids net
					(préciser en
					unité par colis
					par produit en
					kg ou lb)
				</p>
			</td>
			<td rowspan="2" colspan="2" style="width: 10%;">
				<p class="form1label">
					15. <br>
					No. of Pkgs by
					commodity <br> <br>
					Nº de colis par
					produit
				</p>
			</td>
			<td rowspan="1" colspan="2">
				<p class="form1label" style="text-align: center;">
					Selling Price of Commodity <br>
					Prix de vente du produit
				</p>
			</td>
		</tr>
		<tr>
			<td rowspan="1" style="width: 15%;">
				<p class="form1label" style="text-align: center;">
					16. Price per pkg <br>
					Prix par colis
				</p>
			</td>
			<td rowspan="1" style="width: 15%;">
				<p class="form1label" style="text-align: center;">
					17. Total cost per commodity <br>
					Coût total par produit
				</p>
			</td>
		</tr>


		<!-- Item rows -->

		{% for row in doc.items_by_hs_code.values() %}
		<tr>
			<td style="border-bottom: 0; border-top: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero">{{ row.hs_code }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; padding: 1px !important;" colspan="2">
				<p class="form1data MarBorPadZero">{{ row.description }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero" style="text-align: center;">{{ row.country_code }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; border-right: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero text-right">{{ frappe.format(row.net_weight, df=doc.meta.get_field('total_qty')) }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; border-left: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero">kg</p>
			</td>
			<td colspan="2" style="border-bottom: 0; border-top: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero text-center">{{ frappe.format_value(row.qty, df=doc.meta.get_field('total_qty')) }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero text-right">
					{{ frappe.format_value(row.rate, df=doc.meta.get_field('total'), currency=doc.currency) }}</p>
			</td>
			<td style="border-bottom: 0; border-top: 0; padding: 1px !important;">
				<p class="form1data MarBorPadZero text-right">
					{{ frappe.format_value(row.amount, df=doc.meta.get_field('total'), currency=doc.currency) }}</p>
			</td>
		</tr>
		{% endfor %}

		<!-- Items part: 18-21 -->
		<!-- Items footer -->

		<tr>
			<td colspan="2" rowspan="2">
				<p class="form1label">18.Purchaser's Order No. <br> Nº de commande de l'acheteur</p>
			</td>
			<td colspan="2" rowspan="2">
				<p class="form1label">19.Commercial Invoice No.<br>Nº de la facture commerciale</p>
			</td>
			<td colspan="4" rowspan="1">
				<p class="form1label">20. Total Weight / Poids total</p>
			</td>
			<td colspan="2" rowspan="3">
				<table style="border: 0; width: 100%;">
					<tr>
						<td style="border: 0; width: 49%;">
							<p class="form1label">21. Total cost all commodities Coût total tous produits</p>
						</td>
						<td style="border: 0; width: 1%; vertical-align:middle !important;">
							<i class="fa fa-caret-right" style="font-size:30px"></i>
						</td>
						<td style="border: 0; width: 50%; vertical-align: middle !important;">
							<p class="form1data">{{ doc.get_formatted('total')}}</p>
						</td>
					</tr>
				</table>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p class="form1label">Net</p>
			</td>
			<td colspan="2">
				<p class="form1label">Gross</p>
			</td>
		</tr>
		<tr>
			<td colspan="2">
				<p class="form1data">{{doc.name}}</p>
			</td>
			<td colspan="2">
				<p class="form1data">{{doc.get_formatted('pickup_no')}}</p>
			</td>
			<td style="border-right:0 !important;">
				<p class="form1data" style="text-align: right;">{{ frappe.format(doc.total_net_weight, df=doc.meta.get_field('total_qty')) }}</p>
			</td>
			<td style="border-left:0 !important;">
				<p class="form1data" >kg</p>
			</td>
			<td colspan="1" style="border-right:0 !important;">
				<p class="form1data" style="text-align: right;">{{ doc.get_formatted('awb_gross_weight')}}</p>
			</td>
			<td style="border-left:0 !important;">
				<p class="form1data">kg</p>
			</td>
		</tr>

	</table>

	<table>
		<tbody>
			<!-- Top part: 22-28 -->
			<tr>
				<td colspan="6">
					<p class="form1label">22. Special Agreements and related expenses (e.g. transport, cooling,
						palletization, inspection,
						brokerage, temperature recorder, etc)</p>
					<p class="form1label">Ententes spéciales et autres dépenses (p.ex. transport, refroidissement, mise
						en
						pallette,
						inspection, frais de courtage, registre de température, etc.)</p>
					<p class="form1data">DRC1835<br>SFCR Food Licence # 9TTC9GGJ</p>

				</td>
			</tr>

			<tr>
				<td colspan="3" style="width: 53%;">
					<table style="width: 100%;" class="MarBorPadZero">
						<tr>
							<td style="border: 0; width: 45%; padding:0 !important;">
								<p class="form1label MarBorPadZero">23. <br> Date of delivery if delivered sale
									<br>Date d' arrivée si vente à la livraison
								</p>
							</td>
							<td style="border: 0; width: 1%; vertical-align:middle !important;">
								<i class="fa fa-caret-right" style="font-size:30px"></i>
							</td>
							<td style="border: 0; width: 54%; vertical-align: middle !important;">
								<p class="form1data"></p>
							</td>
						</tr>
					</table>

				</td>
				<td style="width: 15.7%;">
					<p class="form1label">Indicate amount<br>Préciser le montant</p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1label">Included in field 21<br>Compris dans le total à la zone 21</p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1label">Not included in field 21 <br> Non compris dans le total à la zone 21</p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="width: 53%;">
					<p class="form1label">24. <br>
						Transportation charges, expenses and insurance from the place of direct shipment to Canada
						<br>Les frais de transport, dépenses et assurances à partir du point d'expédition directe vers
						le
						Canada</p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
			</tr>
			<tr>
				<td colspan="3" style="width: 53%;">
					<p class="form1label">25. <br> Transportation charges, expenses and insurance to the place of direct
						shipment to Canada
						<br>Les frais de transport, dépenses et assurances jusqu'au point d'expédition directe vers le
						Canada
					</p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
				<td style="width: 15.7%;">
					<p class="form1data"></p>
				</td>
			</tr>

			<tr>
				<td colspan="6" style="vertical-align: bottom;">
					<p class="form1label MarBorPadZero">26. CROSS-OVER DECLARATION (If applicable) / DÉCLARATION DE
						TRANSFERT (s'il y a lieu)
					</p>
					<table style="width: 100%;" class="MarBorPadZero">
						<tr>
							<td class="MarBorPadZero" style="width: 40%; vertical-align: middle !important;">
								<p class="form1label MarBorPadZero">For the purpose of the above transaction, I am
									crossing from a</p>
								<p class="form1label MarBorPadZero">Conformément à ce qui est susmentionné, je transfère
									mes activités
									de
								</p>
							</td>
							<td class="MarBorPadZero" style="width: 1%; vertical-align: middle !important;">
								<i class="fa fa-caret-right" style="font-size:35px"></i>
							</td>
							<td class="MarBorPadZero" style="width: 25%; vertical-align: middle !important;">
								<table style="width: 100%;" class="MarBorPadZero">
									<tr>
										<td class="MarBorPadZero">
											<p class="form1data MarBorPadZero"><input type="checkbox" id="26a" name="26a"></p>
										</td>
										<td class="MarBorPadZero">
											<p class="form1label">Broker to Dealer / Courtier à Marchand</p>
										</td>
									</tr>
									<tr>
										<td class="MarBorPadZero">
											<p class="form1data MarBorPadZero"><input type="checkbox" id="26b" name="26b"></p>
										</td>
										<td class="MarBorPadZero">
											<p class="form1label">Dealer to Broker / Marchand à Courtier</p>
										</td>
									</tr>
								</table>
							</td>
							<td style="width: 34%; border:0; border-left: 2px solid black; margin:0; padding:0 !important; vertical-align: bottom; text-align: center">
								<span style="margin: 30px 30px 0 30px; border-top: 1px solid #000; width: 200px; text-align: center; float: left;">Signature</span>
							</td>
						</tr>
					</table>
				</td>
			</tr>
			<tr>
				<td colspan="3">
					<p class="form1label">27. Purchaser or Agent / Acheteur ou agent</p>
					<span class="form1label">Signature: <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 90px;"></span>
					</span>
					<span class="form1label">Date: <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 50px;">{{ frappe.format_date(doc.shipping_date, 'MM-dd-YYYY')}}</span>
					</span>
					<p class="form1label">Representing: <br> Agissant pour : <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 280px;">{{ doc.get_formatted('company')}}</span>
					</p>
				</td>
				<td colspan="3">
					<p class="form1label">28. Vendor or Agent / Vendeur ou agent</p>
					<span class="form1label">Signature: <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 90px;"></span>
					</span>
					<span class="form1label">Date: <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 50px;"></span>
					</span>
					<p class="form1label">Representing: <br> Agissant pour : <span
							style="display: inline-block; border-bottom: 1px solid #000; width: 280px;"></span>
					</p>
				</td>
			</tr>
			<!-- <tr>
				<td colspan="6">
					<table class="MarBorPadZero" style="width: 100%;">
						<tr>
							<td class="MarBorPadZero" style="width: 47%;">
								<p class="form1label">27. Purchaser or Agent / Acheteur ou agent</p>
								<p class="form1label">Signature: <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 170px;"></span>
								</p>
								<p class="form1label">Date: <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 80px;"></span>
								</p>
								<p class="form1label">Representing: <br> Agissant pour : <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 260px;"></span>
								</p>
							</td>
							<td class="MarBorPadZero" style="width: 6%;"></td>
							<td class="MarBorPadZero" style="width:47%">
								<p class="form1label">28. Vendor or Agent / Vendeur ou agent</p>
								<p class="form1label">Signature: <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 170px;"></span>
								</p>
								<p class="form1label">Date: <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 80px;"></span>
								</p>
								<p class="form1label">Representing: <br> Agissant pour : <span
										style="display: inline-block; border-bottom: 1px solid #000; width: 260px;"></span>
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr> -->
			<tr>
				<td colspan="6">
					<table class="MarBorPadZero" style="width: 100%;">
						<tr>
							<td class="MarBorPadZero" style="width: 49%;">
								<p style="font-size: 8px; text-align: justify;">
									The signer hereby certifies that the signer is authorized by the purchaser or the
									vendor
									named above to sign
									and authenticate the same on the purchaser's or vendor's behalf it is understood,
									unless
									otherwise stated
									herein, that this sale is made in contemplation of and subject to, and that all
									items
									described hereby are
									found, at shipping point to be in conformity with, the Canada Agricultural Products
									Act,
									the Canadian Food and Drugs Act, the Plant Quarantine Act and their respective
									regulations.
								</p>
							</td>
							<td class="MarBorPadZero" style="width: 2%;"></td>
							<td class="MarBorPadZero" style="width:49%">
								<p style="font-size: 8px; text-align: justify;">
									Le signature certifié qu'il est autorisé par l'acheteur ou le vendeur susnomme, à
									authentifier le présent
									document au nom de celui-ci. Il est entendu, sauf sur indication contraire que la
									vente
									est soumise au,
									et tous les articles décrits par la présente se trouve, au point de production, en
									conformité avec la Loi sur les produits agricoles au Canada, la Loi sur les aliments
									et
									drogues canadienne, la Loi sur la quarantaine des plantes et leur règlement
									respectif.
								</p>
							</td>
						</tr>
					</table>
				</td>
			</tr>
		</tbody>
	</table>

</div>
{% endif %}